/BeautifulCorridors/Brian_Gabe/PokemonBattleSystem/Debug
/BeautifulCorridors/Brian_Gabe/PokemonBattleSystem/.vs
/BeautifulCorridors/Brian_Gabe/PokemonBattleSystem/PokemonBattleSystem.VC.db
/BeautifulCorridors/Brian_Gabe/PokemonBattleSystem/PokemonBattleSystem/Debug
